/*//-----------测试样式-----------------*/
.header{
	height: 75px;
	background: linear-gradient(to bottom, #c24500 0%,#950301 100%);
	position: relative;
	z-index: 10;
}
.menu{
	
	width: 240px;
	height: 100%;
	padding-top: 75px;
	position: absolute;
	left: 0;
	top: 0;
	background: #AAAAAA;
}
/*//-----------省中医管理局模块css---------------------*/

a{
	
	color: blue;
}
.clear-fix{
	
	zoom: 1;
}

.clear-fix:after{
	display: block;
	content: '';
	clear: both;
}
.h80{
	
	height: 80px;
}


.jd-pro-content{
	
	position: absolute;
	left: 240px;
	top: 75px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	font-size: 14px;
	background: #fff;
}


.numberPeople{
	
	height: 40px;
	line-height: 40px;
	color: #000;
	background: #f0f0f0;
	font-size: 14px;
}

.tableWarp{
	
	background: #fff;
	overflow: hidden;
	max-height: 500px;
}

table{
	/*border: 1px solid #CCCCCC;*/
	border-collapse: collapse;
}
th,td{
	
	border: 1px solid #ddd;
	padding: 5px;
	height: 44px;
	color: #333;
	text-align: center;
}


/*  弹框样式   */
.elf-dialog .elf-tbar {
    background-color: #A63601;
}
.elf-dialog .dialog-inner{
	
	margin-top: 40px;
}
.elf-dialog .dialog-inner > div{
	height: 50px;
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}
.elf-dialog .dialog-inner > div input{
	
	border-width: 1px;
	box-sizing: border-box;
	font-size: 14px;
}
.elf-dialog .dialog-inner > div .name{
	width: 100px;
	line-height: 200%;
	text-align: right;
	box-sizing: border-box;
	font-size: 14px;
}

.elf-dialog .dialog-inner > div .text{
	width: 200px;
	text-align: left;
	box-sizing: border-box;	
}

.elf-dialog .dialog-inner > div.button-box{
	height: 70px;
	width: 100%;
	margin: 0;
	text-align: center;
}
.elf-dialog .dialog-inner > div.tips{
	
	text-align: center;
	color: red;
	font-size: 12px;
	display: none;
}

.btn{
	border: 1px solid #ccc;
	display: inline-block;
    color: #fff;
    background-color: #2d90f1;
    cursor: pointer;
    border: none;
}

/*--------------------培训基地审核页面----------------------------*/

.training-base-warp{
	
	background: #fff;
	overflow: hidden;
}
.training-base-warp .train-base{
    /*height: 40px;*/
    line-height: 40px;
    color: #000;
    font-size: 14px;
	background: #fff;
	min-width: 880px;
	font-size: 0px;
}
.training-base-warp .train-base div{
	
	display: inline-block;
	font-size: 14px;
}

.training-base-warp .train-base > div > div{
	height: 100%;
	padding: 0 6px;
	
}
.training-base-warp .train-base select{
	
    width: 100px;
    height: 27px;
    outline: none;
    border: 1px solid #d2cfcf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;	
	
}
.training-base-warp .check-hospital{
	height: 70px;
	font-size: 14px;
	min-width: 880px;
}
.training-base-warp .check-hospital div {
	vertical-align: middle;
/*	display: inline-block;*/
	height: 100%;
	line-height: 45px;
	float: left;
}
.training-base-warp .check-hospital div span{

	display: inline-block;
}
.training-base-warp .check-hospital div input.checkAll{
	display: inline-block;
    cursor: pointer;
}

.training-base-warp .check-hospital div input.btn{
	
	margin-right: 20px;
	background-color:  #F0F0F0;
	color: #000;
}

.training-base-warp .check-hospital div input.btn.active{
	
	background-color:  #2d90f1;
	color: #fff;
}

.JD-grid-page{
	
	overflow: auto;
	position: relative;
	max-height: 400px;
	min-width: 880px;
}

.JD-grid-page .JD-grid-pageNumber .btn : hover{
	
	color: #000;
	
}

/* 基地管理附件grid3 */

.grid3-warp{
	
	overflow: auto;
}
.pm-grid3{
	
	overflow: auto;
	background: #fff;	
	
}
.pm-grid3 .title{
	
	height: 60px;
	text-align: center;

}
.pm-grid3 .title h3{
	
	line-height: 40px;	
}

.btn-warp{
	height: 40px;
	position: absolute;
	right: 0;
	top: 10px;
	padding: 5px 10px;
}

.btn-warp .btn{
	height: 30px;
	padding: 0 24px;
	vertical-align: top;
}

.pm-grid3 .pm-grid3-body .info{
	text-align: center;
}

.pm-grid3 .pm-grid3-body .info p{
	
	padding: 20px 10px;
	font-size: 18px;
	font-weight: 800;
	
}
.pm-grid3-body ul.hospital-info{
	text-align: center;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}
ul.hospital-info div{
	
	padding: 0;
}

ul.hospital-info .text-info{
	
	text-align: center;
}




