
/*
*	角标样式代码
*/
.superscript{color:#fff;position: absolute;top:0;right:0;width:3rem;height:3rem;overflow: hidden;font-size: .75rem;}
.superscript i{position: absolute;width: 141.4213562373095%;text-align: center;-webkit-transform: rotate(45deg);-webkit-transform-origin:100% 100%;transform: rotate(45deg);transform-origin: 100% 100%;text-transform: none;bottom: 0;right: 0;font-style: normal;z-index:1;}
.superscript:after{content: ' ';display: block;position: absolute;top:0;right:0;width:0;height:0;border-right: solid 3rem #ccc;border-bottom:solid 3rem transparent;}
.superscript.type-1:after{border-right-color:#1a7fe9;}
.superscript.type-2:after{border-right-color:#f39501;}
.superscript.type-3:after{border-right-color:#f10000;}
.superscript.type-4:after{border-right-color:green;}
.superscript-left-top{color:#fff;position: absolute;top:0;left:0;width:3rem;height:3rem;overflow: hidden;font-size: .75rem;}
.superscript-left-top i{position: absolute;width: 141.4213562373095%;text-align: center;-webkit-transform: rotate(-45deg);-webkit-transform-origin:0% 100%;transform: rotate(-45deg);transform-origin: 0% 100%;text-transform: none;bottom: 0;left: 0;font-style: normal;z-index:1;}
.superscript-left-top:after{content: ' ';display: block;position: absolute;top:0;right:0;width:0;height:0;border-left: solid 3rem #cd5506;border-bottom:solid 3rem transparent;}
/*
*	tooltip global settings
*/
[data-tooltip]{position: relative; display: inline-block;}
[data-tooltip]:after{content: attr(data-tooltip); background: #383838; color: #fff; padding: 8px 10px; font-size: 12px; line-height: 12px; white-space: nowrap; text-shadow: 0 -1px 0 #000; box-shadow: 4px 4px 8px rgba(0,0,0,.3); z-index: 1000000;}
[data-tooltip]:before{content: ''; background: 0 0; border: 6px solid transparent; z-index: 1000001; }
[data-tooltip]:after,[data-tooltip]:before {position: absolute; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0); visibility: hidden; opacity: 0; pointer-events: none; -webkit-transition: .3s ease; -moz-transition: .3s ease; transition: .3s ease; -webkit-transition-delay: 0ms; -moz-transition-delay: 0ms; transition-delay: 0ms;}
[data-tooltip]:hover:after,[data-tooltip]:hover:before{visibility: visible; opacity: 0.999; -webkit-transition-delay: 100ms; -moz-transition-delay: 100ms; transition-delay: 100ms;}
[data-tooltip='']:after,[data-tooltip='']:before {display: none !important }
/*
*	tooltip-right tooltip-left
*/
.elf-tooltip-right:after,.elf-tooltip-right:before{left: 100%; bottom: 50%; }
.elf-tooltip-right:after {margin-bottom: -14px; }
.elf-tooltip-right:before{border-right-color: #383838; margin-left: -11px; margin-bottom: -6px; }
.elf-tooltip-right:focus:after,.elf-tooltip-right:focus:before,.elf-tooltip-right:hover:after,.elf-tooltip-right:hover:before {-webkit-transform: translateX(8px); -moz-transform: translateX(8px); transform: translateX(8px); }
.elf-tooltip-left:after,.elf-tooltip-left:before {right: 100%; bottom: 50%; }
.elf-tooltip-left:after {margin-bottom: -14px; }
.elf-tooltip-left:before{border-left-color: #383838; margin-right: -11px; margin-bottom: -6px; }
.elf-tooltip-left:focus:after,.elf-tooltip-left:focus:before,.elf-tooltip-left:hover:after,.elf-tooltip-left:hover:before {-webkit-transform: translateX(-8px); -moz-transform: translateX(-8px); transform: translateX(-8px); }
/*
*	tooltip-top tooltip-top-left tooltip-top-right
*/
.elf-tooltip-top:before{border-top-color: #383838 }
.elf-tooltip-top:after,.elf-tooltip-top:before{bottom: 100%; left: 50%; }
.elf-tooltip-top:before {margin-bottom: -11px; left: calc(50% - 6px); }
.elf-tooltip-top:after {-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); }
.elf-tooltip-top:focus:before,.elf-tooltip-top:hover:before {-webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
.elf-tooltip-top:focus:after,.elf-tooltip-top:hover:after {-webkit-transform: translateX(-50%) translateY(-8px); -moz-transform: translateX(-50%) translateY(-8px); transform: translateX(-50%) translateY(-8px); }
.elf-tooltip-top-left:before{border-top-color: #383838; }
.elf-tooltip-top-left:after,.elf-tooltip-top-left:before{bottom: 100%; right: calc(50% - 14px); }
.elf-tooltip-top-left:before {margin-bottom: -11px; right: calc(50% - 6px); }
.elf-tooltip-top-left:focus:before,.elf-tooltip-top-left:hover:before {-webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
.elf-tooltip-top-left:focus:after,.elf-tooltip-top-left:hover:after {-webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
.elf-tooltip-top-right:before{border-top-color: #383838; }
.elf-tooltip-top-right:after,.elf-tooltip-top-right:before{bottom: 100%; left: calc(50% - 14px); }
.elf-tooltip-top-right:before {margin-bottom: -11px; left: calc(50% - 6px); }
.elf-tooltip-top-right:focus:before,.elf-tooltip-top-right:hover:before {-webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
.elf-tooltip-top-right:focus:after,.elf-tooltip-top-right:hover:after {-webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
/*
*	tooltip-bottom tooltip-bottom-left tooltip-bottom-right
*/
.elf-tooltip-bottom:after,.elf-tooltip-bottom:before {top: 100%; }
.elf-tooltip-bottom:after{left: 50%; }
.elf-tooltip-bottom:before {border-bottom-color: #383838; margin-top: -11px; left: calc(50% - 6px); }
.elf-tooltip-bottom:after{-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); }
.elf-tooltip-bottom:focus:before,.elf-tooltip-bottom:hover:before {-webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px); }
.elf-tooltip-bottom:focus:after,.elf-tooltip-bottom:hover:after {-webkit-transform: translateX(-50%) translateY(8px); -moz-transform: translateX(-50%) translateY(8px); transform: translateX(-50%) translateY(8px); }
.elf-tooltip-bottom-left:after,.elf-tooltip-bottom-left:before {top: 100%; }
.elf-tooltip-bottom-left:after{right: calc(50% - 14px); }
.elf-tooltip-bottom-left:before {border-bottom-color: #383838; margin-top: -11px; right: calc(50% - 6px); }
.elf-tooltip-bottom-left:focus:before,.elf-tooltip-bottom-left:hover:before,.elf-tooltip-bottom-left:focus:after,.elf-tooltip-bottom-left:hover:after{-webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px) }
.elf-tooltip-bottom-right:after,.elf-tooltip-bottom-right:before {top: 100%; } 
.elf-tooltip-bottom-right:after{left: calc(50% - 14px); }
.elf-tooltip-bottom-right:before {border-bottom-color: #383838; margin-top: -11px; left: calc(50% - 6px); }
.elf-tooltip-bottom-right:focus:before,.elf-tooltip-bottom-right:hover:before,.elf-tooltip-bottom-right:focus:after,.elf-tooltip-bottom-right:hover:after{-webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px) }
/*
*	tooltip-error(#b34e4d,#592726),warning(#c09854,#6c5328),info(#3986ac,#1a3c4d),success(#458746,#1a321a)
*/
.elf-tooltip-error[data-tooltip]:after{background-color: #b34e4d; text-shadow: 0 -1px 0 #592726; color: #fff; }
.elf-tooltip-error.elf-tooltip-right:before{border-right-color: #b34e4d; }
.elf-tooltip-error.elf-tooltip-left:before{border-left-color: #b34e4d; }
.elf-tooltip-error.elf-tooltip-top:before,.elf-tooltip-error.elf-tooltip-top-left:before,.elf-tooltip-error.elf-tooltip-top-right:before{border-top-color: #b34e4d; }
.elf-tooltip-error.elf-tooltip-bottom:before,.elf-tooltip-error.elf-tooltip-bottom-left:before,.elf-tooltip-error.elf-tooltip-bottom-right:before{border-bottom-color: #b34e4d; }
.elf-tooltip-warning[data-tooltip]:after{background-color: #c09854; text-shadow: 0 -1px 0 #6c5328; color: #fff; }
.elf-tooltip-warning.elf-tooltip-right:before{border-right-color:#c09854; }
.elf-tooltip-warning.elf-tooltip-left:before{border-left-color:#c09854; }
.elf-tooltip-warning.elf-tooltip-top:before,.elf-tooltip-warning.elf-tooltip-top-left:before,.elf-tooltip-warning.elf-tooltip-top-right:before{border-top-color:#c09854; }
.elf-tooltip-warning.elf-tooltip-bottom:before,.elf-tooltip-warning.elf-tooltip-bottom-left:before,.elf-tooltip-warning.elf-tooltip-bottom-right:before{border-bottom-color:#c09854; }
.elf-tooltip-info[data-tooltip]:after{background-color: #3986ac; text-shadow: 0 -1px 0 #1a3c4d; color: #fff; }
.elf-tooltip-info.elf-tooltip-right:before{border-right-color: #3986ac; }
.elf-tooltip-info.elf-tooltip-left:before{border-left-color: #3986ac; }
.elf-tooltip-info.elf-tooltip-top:before,.elf-tooltip-info.elf-tooltip-top-left:before,.elf-tooltip-info.elf-tooltip-top-right:before{border-top-color: #3986ac; }
.elf-tooltip-info.elf-tooltip-bottom:before,.elf-tooltip-info.elf-tooltip-bottom-left:before,.elf-tooltip-info.elf-tooltip-bottom-right:before{border-bottom-color: #3986ac; }
.elf-tooltip-success[data-tooltip]:after{background-color: #458746; text-shadow: 0 -1px 0 #1a321a; color: #fff; }
.elf-tooltip-success.elf-tooltip-right:before{border-right-color: #458746; }
.elf-tooltip-success.elf-tooltip-left:before{border-left-color: #458746; }
.elf-tooltip-success.elf-tooltip-top:before,.elf-tooltip-success.elf-tooltip-top-left:before,.elf-tooltip-success.elf-tooltip-top-right:before{border-top-color: #458746; }
.elf-tooltip-success.elf-tooltip-bottom:before,.elf-tooltip-success.elf-tooltip-bottom-left:before,.elf-tooltip-success.elf-tooltip-bottom-right:before{border-bottom-color: #458746; }
/*
*	small  medium  large
*/
.elf-tooltip-small:after, .elf-tooltip-medium:after, .elf-tooltip-large:after {white-space: normal;line-height: 1.4rem; text-align: left; }
.elf-tooltip-small[data-tooltip]:after{width: 100px; }
.elf-tooltip-medium[data-tooltip]:after{width: 150px; }
.elf-tooltip-large[data-tooltip]:after{width: 300px; }
/*
	elf-uploader
*/
.elf-uploader{
	position: relative;
}
.elf-uploader-file{
	position: absolute;
	width: 100%;height: 100%;left: 0;top: 0;opacity: .05;
}
/*supertitle*/
.contentBox{
	padding-top: 1rem; 
}
.titleBar{
	border-top: solid 1px #409ffd;
	padding-left: 1rem;
}
.supertitle{
	padding: .3rem 1rem;
    background-color: #419efd;
    display: inline-block;
    color: #fff;
    position: relative;
}
.supertitle:before{content: ""; position: absolute; border-bottom:8px solid #005fc3; border-left:8px solid transparent; border-right:8px solid transparent; top: -8px; left: -8px; right: -8px; }
.supertitle:after{content: ""; position: absolute; display: block; width: 100%; height: 8px; top: -8px; left:0; right:0; background-color: #197ee8; }