<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			
		</style>
		<script src="./template-native.js"></script>
	</head>

	<body>
		<div id="demo">
			<!-- <h1>123</h1>
			<ul>
				<li>123</li>
				<li>123</li>
				<li>123</li>
			</ul> -->
		</div>
		<script type="text/html" id="test">
			<h1> <%= title %> </h1>
			<ul>
			    <%for(var i = 0; i < list.length; i++){%>
			    	<li><%=list[i]%></li>
			    <%}%>
			</ul>
		</script>
		<script>

		//渲染值  <%=  要渲染的值 %>

			var data = {
			    title: '标签',
			    list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
			};

			var html = template('test', data);
			
			console.log( html )

			document.getElementById('demo').innerHTML = html;

			

		</script>
	</body>
</html>