<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="assessDesc">
		<span>评估说明：</span>
		<p>带教老师应该根据住院医生的临床工作能力，知识水平，工作态度，交流能力，团队精神，医德医风，学习态度等进行评估，并按五分制评分。</p>
	</div>
	<div class="choicebox">
		
		<div class="choice">
			<h3>1、能够最后扔去采集宾士和体验，正确使用影响诊断及实业是检查，并对各种检查资料有分析总结能力的</h3>
			<ul>
				<li><input type="radio" name="name1" value="">A、不合格(1分)</li>
				<li><input type="radio" name="name1" value="">B、需改进(2分)</li>
				<li><input type="radio" name="name1" value="">C、合格(3分)</li>
				<li><input type="radio" name="name1" value="">D、良好(4分)</li>
				<li><input type="radio" name="name1" value="">E、优秀(5分)</li>
			</ul>
		</div>
		<div class="choice">
			<h3>2、能够最后扔去采集宾士和体验，正确使用影响诊断及实业是检查，并对各种检查资料有分析总结能力的</h3>
			<ul>
				<li><input type="radio" name="name2" value="">A、不合格(1分)</li>
				<li><input type="radio" name="name2" value="">B、需改进(2分)</li>
				<li><input type="radio" name="name2" value="">C、合格(3分)</li>
				<li><input type="radio" name="name2" value="">D、良好(4分)</li>
				<li><input type="radio" name="name2" value="">E、优秀(5分)</li>
			</ul>
		</div>
		<div class="choice">
			<h3>3、能够最后扔去采集宾士和体验，正确使用影响诊断及实业是检查，并对各种检查资料有分析总结能力的</h3>
			<ul>
				<li><input type="radio" name="name3" value="">A、不合格(1分)</li>
				<li><input type="radio" name="name3" value="">B、需改进(2分)</li>
				<li><input type="radio" name="name3" value="">C、合格(3分)</li>
				<li><input type="radio" name="name3" value="">D、良好(4分)</li>
				<li><input type="radio" name="name3" value="">E、优秀(5分)</li>
			</ul>
		</div>
		<div class="choice">
			<h3>4、能够最后扔去采集宾士和体验，正确使用影响诊断及实业是检查，并对各种检查资料有分析总结能力的</h3>
			<ul>
				<li><input type="radio" name="name4" value="">A、不合格(1分)</li>
				<li><input type="radio" name="name4" value="">B、需改进(2分)</li>
				<li><input type="radio" name="name4" value="">C、合格(3分)</li>
				<li><input type="radio" name="name4" value="">D、良好(4分)</li>
				<li><input type="radio" name="name4" value="">E、优秀(5分)</li>
			</ul>
		</div>
		<div class="choice">
			<h3>5、建议</h3>
			<textarea class="proposal" value=""></textarea>
		</div>
	</div>
	<script type="text/javascript">
		var aa = document.getElementsByTagName("li");
		for (var i = 1; i < 10; i++) {
			console.log(i);
			aa[i].onclick = function(){
				console.log(i);
				var ss = this.innerHTML;
				alert(ss);
			}
		}
	</script>
</body>
</html>