body{
	
	overflow-y: hidden;
	min-width: 1000px;
	overflow-x: auto;
}
.header{
		
		min-width:860px;
		height:74px;
		background:url(../images/header_bg.jpg) top center;
		background-size:cover;
		overflow:hidden;
		position: relative;
		z-index: 10;
}

.header .logo{
	
    color: rgb(255, 255, 255);
    font-family: 黑体, "Adobe 黑体 Std R";
    font-weight: normal;	
	height:66px;
	line-height:66px;
	font-size:2.3rem;
	margin:4px 0;
    text-shadow: rgb(0, 52, 105) 4px 2px 0px;
    padding: 0;		
}

.header .logInfo{
	
padding:  18px 0;
	
}
.logInfo p{
	
	font-size: 12px;
	color: #fff;
	
}.logInfo p a.logOut{
	
	color: rgb(255, 255, 255);
}
