body .treeMenu{
	
	width: 240px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 74px;
    overflow-y: scroll;
    border-top:1px solid #CCCCCC;
    z-index: 8;
    background: #fff;
}

.treeMenu .elf_accordion-nav > ul>li>.elf_accordion_tree_node{
	
	background: #025DBA;
}
